<section class="simulation-test-configuration">
	<form nz-form class="ant-advanced-search-form" [formGroup]="simulationForm" (ngSubmit)="submitForm()">
		<nz-collapse [nzBordered]="true">
			<nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.title" [nzActive]="panel.active">
					<nz-spin [nzSpinning]="isSpinning">
				<div class="nz-collapse-data">
					<div nz-row [nzGutter]="30">
						<div nz-col [nzSpan]="12">
							<nz-form-item nzFlex>
								<nz-form-label>{{translate.instant('Simulation Test Switch')}} </nz-form-label>
								<nz-form-control>
									<nz-switch nzCheckedChildren="{{translate.instant('Enable')}}" nzUnCheckedChildren="{{translate.instant('Disable')}}" formControlName="simulationTestSwitch"></nz-switch>
								</nz-form-control>
							</nz-form-item>
						</div>
					</div>
				</div>
				</nz-spin>
			</nz-collapse-panel>
		</nz-collapse>
		<div nz-col [nzSpan]="24" class="search-area">
			<button nz-button [nzType]="'primary'" class="btn-b" [nzLoading]="isLoading">{{translate.instant('Save')}}</button>
			<button type="button" nz-button [nzType]="'primary'" class="btn-g ml-1" (click)="fetchSimulationData()">{{translate.instant('Reload')}}</button>
		</div>
	</form>
</section>