@import '../../../../assets/variables.scss';


.btn-b {
  width: 94px;
  // height: 34px;
  background-color: rgba(33, 150, 243, 1);
  border-color: rgba(12, 120, 209, 1);
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #FFFFFF;

  &:hover {
    background-color: rgba(12, 123, 214, 1);
  }
}

// .btn-b {
//   @include btn-b;
//   width: 81px;
//   height: 32px;
//   box-sizing: border-box;
//   border-width: 1px;
//   border-style: solid;
//   border-radius: 7px;
//   box-shadow: none;
//   -moz-box-shadow: none;
//   -webkit-box-shadow: none;
//   font-family: 'Open Sans';
//   font-weight: 400;
//   font-style: normal;
//   font-size: 13px;
//   color: #FFFFFF;
// }

.btn-r {
  @include btn-r;
  // width: 67px;
  // height: 32px;
  box-sizing: border-box;
  border-width: 1px;
  border-style: solid;
  border-radius: 7px;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  font-family: 'Open Sans';
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  color: #FFFFFF;
}

form {
  margin: 15px;
  // margin-bottom: 100px;
}

.seletFileBtn {
  border-radius: 7px;
  width: 150px;
}

.filename {
  color: #0099FF;
  font-family: 'Arial';
  margin-top: 1rem;
  line-height: 1.7em;
  display: inline-block;
  padding: 0 7px;
  transition: all 0.3s ease-in-out;
  i:first-child {
    color: gray;
  }
  // i:last-child {
  //   color: #e74c3c;
  // }
  // &:hover {
  //   background: #e8f6ff;
  //   transition: all 0.3s ease-in-out;
  // }
  span {
    padding: 0 5px;
  }
}
