<div class="configuration-tool-wrapper">
  <div class="conf-tool-header">
    <div class="logo">
      <img src="../../../assets/images/logo.png" alt="fiberHome">
    </div>
    <div class="right-top-menu">
      <ul>
        <li><i nz-icon nzType="user" nzTheme="outline"></i><span>{{ translate.instant(username) }}</span></li>
        <li><a routerLink = "/login"><img src="../../../assets/images/logout.png">{{ translate.instant('Logout') }}</a></li>
      </ul>
    </div>
  </div>
  <div class="conf-tool-nav">
    <h2>UMC<sup>2</sup>{{translate.instant('tools')}}  </h2>
    <ul>
      <li>
        <a [routerLink]="['/unm200-configuration']">
          <span><span>UMC<sup>2</sup></span>{{translate.instant('Configuration')}} </span>
          <img src="../../../assets/images/u50.png" alt="UNM2000 Configuration">
        </a>
      </li>
      <li>
        <a [routerLink]="['/nbi-configuration']">
          <span><span>NBI</span>{{translate.instant('Configuration')}} </span>
          <img src="../../../assets/images/u65.png" alt="NBI Configuration">
        </a>
      </li>
      <li>
        <a [routerLink]="['/log-configuration']">
          <span><span>{{translate.instant('LOG')}} </span>{{translate.instant('Configuration')}} </span>
          <img src="../../../assets/images/u76.png" alt="LOG Configuration">
        </a>
      </li>
      <li>
        <a [routerLink]="['/comparison-tool']">
          <span><span>{{translate.instant('Configuration')}} </span>{{translate.instant('Comparison Tool')}} </span>
          <img src="../../../assets/images/u105.png" alt="Configuration Comparison Tool">
        </a>
      </li>
    </ul>
  </div>
</div>